
:root {
  --greenPrimary: #70c174;
  --greenSecondary: #bef3c0;
  --greenTeria: #eff7f2;
  --blackColor: #0b0706;
  --primaryText: #1d2130;
  --secondaryText: #525560;
  --offWhite: #ebf0f9;
  --borderColor: #e5e5e5;
  --whiteColor:white
}
